.main{
    background-image: url(../../Assets/Bg-Main.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #6B6060;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.logo_text{
    font-size: 22px;
}

.main_text{
    font-weight: normal;
    font-size: 20px;
}

.IEEE_logo{
    height: 100px;
}

.main_content{
    margin: 5em 0 0 3em;
    text-align: left;
    width: 400px;
}