.eventsList{
    background-image: url(../Assets/eventBack.png);
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: 100% 2000px;
    height: 100vh;
    width: 100rem;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 15%;
}
.eventsList h1{
    color: white;
    padding-left: 3%;
    padding-bottom: 5%;
}
